#contact{
    position: relative;
    overflow: hidden;
	padding: 25vh 0;
    background-color: transparent;
    .ocean{
        transform: scaleY(-1);
        height: 2%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        .wave{
            z-index: 10;
            opacity: 100;
            &:nth-of-type(1) {
                animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite reverse;
            }
            &:nth-of-type(2) {
                top: -170px;
                animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite reverse, swell 7s ease -1.25s infinite reverse;
            }
            background: url(../assets/wave.svg) repeat-x;
            position: absolute;
            top: -190px;
            width: 6400px;
            height: 198px;
            transform: translate3d(0, 0, 0);
        }
    }
    .form-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 25vw;
        @media (max-width: 1000px) {
            margin: 0 10vw;
        }
        h2{
            margin: 0;
            color: white;
            font-style: normal;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 2.375rem;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            @media(max-width: 1000px){
                font-size: 2rem;
            }
        }
        p{
            margin-bottom: 2.25rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: #6b747b;
            font-style: normal;
            font-weight: 400;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            @media(max-width: 1000px){
                font-size: 1rem;
            }
        }
        form{
            padding: 1rem;
            width: 100%;
            .form-group {
                margin-bottom: 1.25rem;
                width: 100%;
                .form-control-input{
                    padding: 0.5rem 1rem;
                    box-sizing: border-box;
                    width: 100%;
                    border: 1px solid #cbcbd1;
                    border-radius: 4px;
                    color: #6b747b;
                }


                .form-control-textarea {
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
                    padding: 1rem;
                    min-height: 15vh;
                    box-sizing: border-box;
                    width: 100%;
                    border: 1px solid #cbcbd1;
                    border-radius: 4px;
                    color: #6b747b;
                }

                .form-control-submit-button {
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid #9d0208;
                    border-radius: 32px;
                    background-color: #9d0208;
                    color: #ffffff;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: bold;
                    transition: all 0.2s;
                }
                .form-control-submit-button:hover {
                    border: 1px solid #9d0208;
                    background-color: transparent;
                    color: #9d0208;
                }
            }
        }
    }
}