.footer{
    background-color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    .footerText{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            flex: 1;
            font-style: normal;
            font-size: 1rem;
            font-family: Poppins, sans-serif;
            color: #abb4bb;
            a{
                color: #abb4bb;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}