.header{
    position: relative;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 15rem;
    background-color: #370617;
    @media (max-width: 1000px) {
        padding-top: 25vh;
        padding-bottom: 20vh;
    }
    .ocean{
        height: 2%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #ffffff;

        .wave{
            &:nth-of-type(2) {
                top: -170px;
                animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
                opacity: 1;
            }
            background: url(../assets/wave.svg) repeat-x;
            position: absolute;
            top: -190px;
            width: 6400px;
            height: 198px;
            animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
            transform: translate3d(0, 0, 0);
        }
    }
    .container{
        min-height: 50vh;
        display: flex;
        padding: 5vh 15vw;
        gap: 5.5rem;
        @media (max-width: 1000px) {
            padding: 5vh 2vw;
            padding-top: 2vh;
            flex-direction: column;
            gap: 3rem;
        }
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        .headerText{
            text-align: left;
            color: white;
            @media(min-width: 1000px){
                flex: 1;
                justify-content: left;
            }
            .text{
                display: flex;
                flex-direction: column;
                @media(max-width: 1000px){
                    align-items: center;
                    text-align: center;
                }
                h1{
                    margin: 0;
                    margin-bottom: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    font-stretch: normal;
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                    font-family: Poppins, sans-serif;
                    @media (max-width: 1000px) {
                        font-size: 2rem;
                        line-height: 2rem;
                    }
                }
                p{
                    margin: 0;
                    margin-bottom: 2rem;
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    @media(max-width: 1000px){
                        font-size: 1rem;
                    }
                }
                a{
                    width: fit-content;
                    padding: 1.5rem 2rem;
                    border: 1px solid #9d0208;
                    border-radius: 32px;
                    background-color: #9d0208;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 0.875rem;
                    line-height: 0;
                    text-decoration: none;
                    transition: all 0.2s;
                }
                a:hover {
                    border: 2px solid #9d0208;
                    background-color: transparent;
                    color: #9d0208;
                }
            }
        }
        .headerImage{
            max-width: 30vw;
            .image{
                @media (max-width: 1000px) {
                    display: none;
                }
                justify-content: center;
                align-items: center;
                justify-content: center;
                display: flex;
            }
            @media(min-width: 1050px){
                flex: 1;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Wave Animation */
@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}

@keyframes swell {
	0%, 100% {
		transform: translate3d(0,-25px,0);
	}
	50% {
		transform: translate3d(0,5px,0);
	}
}
/* end of wave animation */