nav{
    min-height: fit-content;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
    background-color: #370617;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    z-index: 1030;

    .container{
        @media (min-width: 1000px) {
            margin: 0 3rem;
        }
        width: 100%;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.5rem;
            color: #ffffff;
            font-weight: 600;
            font-size: 2rem;
            line-height: 1rem;
            text-decoration: none;
            text-align: left;
            @media (max-width: 1000px) {
                font-size: 1.5rem;
                line-height: 0.5rem;
            }
        }

        .links{
            flex: 1;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1000px) {
                display: none
            }
            .pageLinks{
                height: 1.5rem;
                padding: 0 1rem;
                margin-left: auto;
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                a{
                    color: #c5c3f0;
                    text-decoration: none;
                }
            }
            .offsiteLinks{
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    height: 1.5rem;
                    width: 1.5rem;
                    text-decoration: none;
                }
            }
        }
    }
}

