.services-container{
    padding: 15vh 5vw;
    background-color: white;
    h3{
        margin: 0;
        color: black;
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 2.375rem;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        @media(max-width: 1000px){
            font-size: 2rem;
        }
    }
    p{
        margin-bottom: 2.25rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #6b747b;
        font-style: normal;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        @media(max-width: 1000px){
            font-size: 1rem;
        }
    }
    .tiles-container{
        padding: 1rem;
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 5rem;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        .tiles{
            overflow: hidden;
            box-sizing: border-box;
            border: 1px solid #6b747b;
            border-radius: 6px;
            padding: 1rem;
            background-color: #f2f3fd;
            .tile-header{
                display: flex;
                justify-content: center;
                gap: 1rem;
                h4{
                    margin: 0;
                    color: black;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 2.375rem;
                    font-family: "Open Sans", sans-serif;
                    text-align: center;
                }
            }
        }
        .selected{
            overflow: hidden;
            box-sizing: border-box;
            border: 1px solid #6b747b;
            border-radius: 6px;
            padding: 1rem;
            background-color: #f2f3fd;
            animation: grow 5s;
            .tile-header{
                display: flex;
                justify-content: center;
                gap: 1rem;
                h4{
                    margin: 0;
                    color: black;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 2.375rem;
                    font-family: "Open Sans", sans-serif;
                    text-align: center;
                }
            }
        }
        .tiles:hover{
            background-color: transparent;
        }
    }
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
@keyframes grow {
    0%{
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid #6b747b;
        border-radius: 6px;
        padding: 1rem;
        background-color: #f2f3fd;
    }
    100%{
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid #6b747b;
        border-radius: 6px;
        padding: 1rem;
        background-color: red;
    }
}
@keyframes blur {
    0%{
        backdrop-filter: blur(0);
    }
    50%{
        backdrop-filter: blur(5px);
    }
    100%{
        backdrop-filter: blur(10px);
    }
}
